# Firebase Configuration
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB6Dd6BQ0LrbIkVhsB_N1zGRv7UohCQx6E
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=ananisikim-c5520.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=ananisikim-c5520
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=ananisikim-c5520.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=788035985346
EXPO_PUBLIC_FIREBASE_APP_ID=1:788035985346:web:39246432f50f5ff528805b
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-NDSSFXFVQC

# App Environment
NODE_ENV=development
EXPO_PUBLIC_APP_NAME=NOVA KARAOKE
